* {
    font-size: 1.5rem;
}

body {
    position: relative;
    left: 50%;
    float: left;
}

#container {
    position: relative;
    left: -50%;
    float: left;
    text-align: center;
}

#lingo {
    display: inline-block;
}

#lingo table {
    transition: 0.2s linear;
    text-align: center;
}

#lingo td {
    width: 6vh;
    height: 6vh;
    border: 0.1vh white solid;
    border-radius: 0.5vh;
    vertical-align: middle;
    font-size: 5vh;
    color: white;
    transition: 0.1s linear;
}

#lingo td td {
    border: 0px;
    border-radius: 50%;
}

#lingo tr {
    background-image: linear-gradient(#0568C5, #0862BA);
}

#lingo input {
    margin-bottom: 1vh;
}

footer {
    bottom: 0;
    padding: 2vh 0;
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    font-family: sans-serif;
}

li {
    list-style-position: inside;
}